.blind,
legend {
  visibility: hidden;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: -999em;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
  text-align: left;
}

caption {
  position: relative;
  visibility: hidden;
  overflow: hidden;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
}

.ico {
  display: inline-block;
  overflow: hidden;
  text-indent: -9999em;
}

.no-img .ico {
  overflow: auto;
  text-indent: 0;
}

caption {
  padding: 0 !important;
}

button {
  border: 0 none;
  background-color: transparent;
  outline: 0 none;
}

body {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #000000;
  overflow: hidden;
  background-color: #fff;
}

body.overflow-auto {
  overflow: auto;
}

.overflow-auto {
  overflow: auto;
}

.overflow-auto-x {
  overflow-x: auto;
  overflow-y: hidden;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-x {
  overflow-x: auto;
}

.dp-table {
  display: table;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}

.dp-cell {
  display: table-cell;
  vertical-align: middle;
}

.dp-block {
  display: block;
}

.dp-inline {
  display: inline-block;
}

.vt {
  vertical-align: top;
}

.vm {
  vertical-align: middle;
}

.vb {
  vertical-align: bottom;
}

.txt-left {
  text-align: left;
}

.txt-right {
  text-align: right;
}

.txt-center {
  text-align: center;
}

.pos-r {
  position: relative;
}

.pos-a {
  position: absolute;
}

.mt-5 {
  margin-top: 5px;
}

.mt-3 {
  margin-top: 3px;
}

.ml-5 {
  margin-left: 5px;
}

.t-bold {
  font-weight: 700;
}

.t-extrabold {
  font-weight: 800;
}

.underline {
  text-decoration: underline;
}

.wrapper {
  letter-spacing: 0;
}

.wrapper.wrap1 {
  min-width: 1880px;
  padding: 10px 20px;
}

.wrapper.wrap2 {
  height: 100%;
}

.wrapper.wrap2 form {
  height: 100%;
}

.ico {
  display: inline-block;
}

.ico.i-ascending,
.ico.i-up {
  vertical-align: top;
  font-size: 0;
}

.ico.i-ascending:before,
.ico.i-up:before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  margin-top: -3px;
  margin-left: -4px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 5px solid #b2b2b2;
  content: "";
}

.ico.i-descending,
.ico.i-down {
  vertical-align: top;
  font-size: 0;
}

.ico.i-descending:before,
.ico.i-down:before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  margin-top: -3px;
  margin-left: -4px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 5px solid #b2b2b2;
  content: "";
}

a.sem-admin-link {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  margin: 0 15px;
  border-radius: 4px;
  background-color: #ff8331;
  color: #fff;
  font-weight: 700;
  letter-spacing: 0;
}

.hams-take-calendar .inputbox,
.hams-take-calendar .t-calendar {
  display: inline-block;
}

.hams-take-calendar .t-calendar {
  margin: 0 5px;
  font-size: 13px;
  vertical-align: middle;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-size: 10px;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

body {
  margin: 0;
  font-size: 1rem;
  font-weight: normal;
  line-height: normal;
  color: #333333;
  text-align: left;
  background-color: #fff;
  font-size: 1.4rem;
}

[tabindex="-1"]:focus:not(:focus-visible) {
  outline: 0 !important;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  padding: 0;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: 600;
}

dd {
  margin-bottom: .5rem;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1rem;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

a {
  color: #555555;
  text-decoration: none;
  background-color: transparent;
}

a:not([href]) {
  text-decoration: none;
}

a:not([href]):hover {
  text-decoration: none;
}

pre,
code,
kbd,
samp {
  font-family: "Noto Sans Mono CJK KR Regular", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
}

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
}

figure {
  margin: 0 0 1rem;
}

img {
  vertical-align: middle;
  border-style: none;
  max-width: 100%;
  height: auto;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

table {
  border-collapse: collapse;
}

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #666666;
  text-align: left;
  caption-side: bottom;
}

th {
  text-align: inherit;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

button {
  border-radius: 0;
}

button:focus {
  outline: none;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

select {
  word-wrap: normal;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox;
}

textarea {
  overflow: auto;
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

output {
  display: inline-block;
}

summary {
  display: list-item;
  cursor: pointer;
}

template {
  display: none;
}

[hidden] {
  display: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: normal;
  line-height: 1.125;
}

.ui-new {
  background-color: #fff;
  overflow-y: auto;
  font-family: "NanumGothicBold", "Nanum Gothic", "NanumGothicWeb";
  color: #202020;
  letter-spacing: -0.05em;
}

.ui-new .ui-mypage-box .ui-mypage-box-wrap {
  max-width: 100%;
}

.ui-new .ui-mypage-box {
  padding-top: 0;
  padding-bottom: 40px;
  background-color: #ffffff;
}

.ui-new .ui-mypage-box .content {
  margin: 0;
  box-shadow: none;
  border-radius: 0;
}

.mypage {
  background-color: #ffffff;
}

.mypage .content {
  margin: 46px 84px 60px 84px;
  padding-top: 0;
  border-radius: 12px;
  box-shadow: 0 9px 24px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.mypage .datepicker {
  position: relative;
  padding: 12px 0;
  border-bottom: 2px solid rgba(224, 224, 224, 0.5);
  text-align: center;
}

.mypage .datepicker h3 {
  font-size: 16px;
  font-weight: bold;
}

.mypage .datepicker .btn {
  position: absolute;
  left: 20%;
  top: 50%;
  transform: translateY(-50%);
  min-width: 20px;
  height: 20px;
  border: 0;
  background: url("../img/common/btn-20-left-arrow-n@3x.png") no-repeat center;
  background-size: contain;
}

.mypage .datepicker .btn:disabled {
  opacity: 0.2;
}

.mypage .datepicker .btn-next {
  left: auto;
  right: 20%;
  background-image: url("../img/common/btn-20-right-arrow-n@3x.png");
}

.mypage .datepicker {
  margin: 2px 0 30px 0;
  padding: 0;
  border: 0;
}

.mypage .datepicker h3 {
  font-size: 20px;
}

.mypage .datepicker .btn {
  left: 38%;
  width: 24px;
  height: 24px;
}

.mypage .datepicker .btn-next {
  left: auto;
  right: 38%;
}

.mypage .visible-header {
  display: none;
}

.mypage .visible-header {
  display: block;
  margin: 0 auto;
  padding: 12px 25px;
  width: calc(100% - 30px * 2);
  font-size: 0;
  border-top: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
}

.mypage .visible-header span {
  display: inline-block;
  width: 15%;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
}

.mypage .visible-header span:first-child {
  width: 40%;
}

.mypage .container {
  max-height: 560px;
  padding-bottom: 0;
  max-width: inherit;
  overflow-y: auto;
}

.mypage .container > .input-group:first-child {
  margin-top: 10px;
}

.mypage .container > .input-group:first-child + p {
  margin: 20px 0 4px 0;
  color: #666;
}

.mypage .container > .input-group:first-child + p strong {
  color: #333;
}

.mypage .container + .buttons {
  padding: 0 20px 20px 20px;
}

.mypage .pay-list li {
  position: relative;
  padding: 20px 0;
}

.mypage .pay-list li > span:nth-last-of-type(1) {
  position: absolute;
  right: 0;
  top: 1.75em;
  font-size: 12px;
  font-weight: bold;
  color: #999;
}

.mypage .pay-list li h2 {
  font-size: 18px;
  font-weight: bold;
}

.mypage .pay-list li p {
  margin-top: 10px;
  font-size: 12px;
}

.mypage .pay-list li p span {
  display: block;
}

.mypage .pay-list li p span em {
  margin-right: 0.2em;
  font-style: normal;
}

.mypage .pay-list li + li {
  border-top: 2px solid rgba(224, 224, 224, 0.5);
}

.mypage .pay-list {
  padding: 0 30px 12px 30px;
}

.mypage .pay-list li {
  padding: 22px 0;
  font-size: 0;
  line-height: 0;
}

.mypage .pay-list li h2 {
  display: inline-block;
  padding-left: 39px;
  width: 40%;
  font-size: 16px;
}

.mypage .pay-list li p {
  display: inline-block;
  width: 45%;
  font-size: 0;
  text-align: center;
}

.mypage .pay-list li p span {
  display: inline-block;
  width: 33.33%;
  font-size: 16px;
  text-align: center;
}

.mypage .pay-list li p span em {
  display: none;
}

.mypage .pay-list li p span:first-child {
  font-size: 18px;
  font-weight: bold;
}

.mypage .pay-list li > span:nth-last-of-type(1) {
  display: inline-block;
  position: static;
  width: 15%;
  font-size: 16px;
  text-align: center;
}

.text-secondary {
  color: #42c2d1 !important;
}

a.text-secondary:hover,
a.text-secondary:focus {
  color: #2793a0 !important;
}

.text-error {
  color: #ff0000 !important;
}

a.text-error:hover,
a.text-error:focus {
  color: #b30000 !important;
}

.empty {
  margin: 60px auto;
  color: #999;
  text-align: center;
}

.empty img {
  max-width: 80px;
}

.empty p {
  margin-top: 12px;
}

.empty {
  margin: 0;
  padding-top: calc(124px - 42px);
  padding-bottom: 124px;
}

.empty img {
  max-width: 120px;
}

.empty p {
  font-size: 24px;
}

.popupWrap .popupHead {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #494b50;
  color: #fff;
  z-index: 10000;
}

.popupWrap .popupHead h1 {
  padding: 15px 20px;
  font-size: 20px;
  font-weight: 700;
}

.popupWrap .popupSub {
  position: relative;
  margin-top: 52px;
}

.popupWrap .popupSub h2 {
  padding: 20px;
  font-size: 18px;
  font-weight: 700;
  text-align: left;
}

/*# sourceMappingURL=maps/admin.css.map */