// ========================================================================
// [variable] | 변수
// ========================================================================
$base-font: "Noto Sans CJK KR";
$sub-font: "S-CoreDream";

$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;
$fw-black: 900;

$imgEcoMainPath: "../../../images/eco-main";
$imgEcoCommonPath: "../../../images/eco-common";
$imgNewPath: "../../../images/new";
$imgTempPath: "../../../images/_temp-new";
$imgTabletPath: "../../../images/new-tablet";
$imgTabletTempPath: "../../../images/_temp-new-tablet";
$imgMobilePath: "../../../images/new-mobile";
$imgMobileTempPath: "../../../images/_temp-new-mobile";
