// ========================================================================
// [tab] | 메인 / 서브페이지 탭
// ========================================================================
.ui-new{
  // bootstrap.css 가져옴
  .tabs.new-tabs{
    position: relative;
    width: auto;
    &::after {
      content: "";
      clear: both;
      display: block;
    }
    .list {
      display: block;
      height: auto;
      margin: 0 auto;
      border-radius: 0;
      background-color: transparent;
      text-align: center;
      font-size: 0;
    }
    .list::after {
      display: block;
      clear: both;
      content: "";
    }
    .list li {
      display: inline-block;
      height: auto;
      line-height: 1;
      padding: 15px 42px;
      text-align: center;
      border-radius: 0;
      border-bottom: 3px solid #e5e5e5;
      background-color: transparent;
    }
    .list li a {
      display: block;
      font-weight: $fw-regular;
      font-size: 17px;
      color: #e5e5e5;
    }
    .list li.active {
      box-shadow: none;
      border-bottom: 3px solid #202020;
      z-index: 10;
    }
    .list li.active a {
      letter-spacing: normal;
      text-align: center;
      color: #202020;
    }
  }
  .tabs-pannel{
    .empty{
      padding-top: 10px;
      .desc{
        font-size: 22px;
        font-weight: $fw-medium;
        color: #202020;
        .desc-search{
          color: #ff7602;
          letter-spacing: -0.88px;
        }
      }
      .dot-list{
        margin-top: 23px;
      }
      .dot-list li{
        position: relative;
        display: block;
        line-height: 1.4em;
        font-size: 17px;
        font-weight: $fw-light;
        color: #c7c7c7;
        letter-spacing: -0.68px;
        .txt{
          position: relative;
          padding-left: 8px;
          &::before{
            @include top-left(12px, 0);
            display: block;
            width: 2px;
            height: 2px;
            background-color: #c7c7c7;
            border-radius: 50%;
            content: ''
          }
        }
      }
    }
  }
  .tag-list{
    .card-list{
      padding-bottom: 36px;
      .px-md-no{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: stretch;
        flex-direction: row;
        align-content: flex-start;
      }
      .card-item{
        width: 210px;
        margin: 0 19px 36px 19px;
        &:nth-child(5n){
          margin-right: 19px !important;
        }
        &:nth-child(2n){
          margin-right: 19px !important;
        }
        .img{
          width: 210px;
          height: 210px;
        }
        .sticker-homelearn{
          @include top-right(168px, -6px);
        }
        .sticker-free{
          @include top-right(168px, -6px);
          width: auto;
          background: none;
        }

        .list-body{
          min-height: 130px;
          padding: 12px 12px 8px 12px;
          .title{
            padding: 0;
            margin-bottom: 10px;
            font-size: 19px;
            color: #202020;
          }
          .company{
            display: block;
            margin-bottom: 12px;
            font-size: 13px;
            color: #afafaf;
          }
          .score{
            display: block;
            padding: 0;
          }
        }
      }
    }
  }

  .ui-mypage-box{
    .tag-list{
      .card-list{
        .card-item{
          margin: 0 25px 36px 25px;
          &:nth-child(5n){
            margin-right: 25px !important;
          }
          &:nth-child(2n){
            margin-right: 25px !important;
          }
        }
      }
    }
  }
}
