// ========================================================================
// [common] | 공통
// ========================================================================
@media all and (max-width: 1279px){
  .ui-new{
    .ico{
      // 상단 메뉴
      &.i-top-menu{
        @include bg-img-size(22px, 21px, $imgMobilePath, 'top-i-mo-menu@2x');
      }
    }
  }
  .ui-new{
    .ico{
      // 상단 검색
      &.i-top-search{
        @include bg-img-size(22px, 21px, $imgMobilePath, 'i-top-search@2x');
      }
      // 모바일 - 이전
      &.i-top-btn-prev{
        @include bg-img-size(36px, 36px, $imgMobilePath, 'i-top-btn-prev@2x');
        background-position: 10px 3px;
      }
      &.i-top-btn-next{
        @include bg-img-size(13px, 21px, $imgMobilePath, 'i-top-btn-next@2x');
        vertical-align: middle;
      }
      // 모바일 - 검색 뒤로가기
      &.i-search-btn-back{
        @include bg-img-size(13px, 21px, $imgMobilePath, 'i-search-btn-prev@2x');
      }
      // 모바일 - 홈
      &.i-top-btn-home{
        @include bg-img-size(36px, 36px, $imgMobilePath, 'i-top-btn-home@2x');
      }
      // 모바일 - 닫기
      &.i-top-btn-close{
        @include bg-img-size(23px, 21px, $imgMobilePath, 'i-top-close@2x');
      }
      // 모바일 - 바스켓
      &.i-top-basket{
        @include bg-img-size(21px, 23px, $imgMobilePath, 'i-top-basket@2x');
      }
      // 상품몰 서브 타이틀
      &.title-mall{
        @include bg-img-size(33px, 16px, $imgMobilePath, 'sub-title-mall@2x');
        margin-left: 3px;
      }
    }
  }
}
@media all and (max-width: 960px){
  body.hidden{
    overflow: hidden
  }
  .ui-new{
    .ico{
      // 상단 검색
      &.i-top-search{
        @include bg-img-size(22px, 21px, $imgMobilePath, 'i-top-search@2x');
      }
      // 배지-홈런학습
      &.i-badge-homelearn{
        @include bg-img-size(76px, 46px, $imgMobilePath, 'i-badge-homelearn@2x');
      }
      // 배지-무료
      &.i-badge-free{
        @include bg-img-size(76px, 46px, $imgMobilePath, 'i-badge-free@2x');
      }
      // 모바일 - 이전
      &.i-top-btn-prev{
        @include bg-img-size(36px, 36px, $imgMobilePath, 'i-top-btn-prev@2x');
        background-position: 10px 3px;
      }
      &.i-top-btn-next{
        @include bg-img-size(13px, 21px, $imgMobilePath, 'i-top-btn-next@2x');
        vertical-align: middle;
      }
      // 모바일 - 검색 뒤로가기
      &.i-search-btn-back{
        @include bg-img-size(13px, 21px, $imgMobilePath, 'i-search-btn-prev@2x');
      }
      // 모바일 - 홈
      &.i-top-btn-home{
        @include bg-img-size(36px, 36px, $imgMobilePath, 'i-top-btn-home@2x');
      }
      // 모바일 - 닫기
      &.i-top-btn-close{
        @include bg-img-size(23px, 21px, $imgMobilePath, 'i-top-close@2x');
      }
      // 모바일 - 바스켓
      &.i-top-basket{
        @include bg-img-size(21px, 23px, $imgMobilePath, 'i-top-basket@2x');
      }
      // 상품몰 서브 타이틀
      &.title-mall{
        @include bg-img-size(33px, 16px, $imgMobilePath, 'sub-title-mall@2x');
        margin-left: 3px;
      }
    }
    //------------------------------------------------------------
    // 하단 버튼
    .sticky-btn{
      &.new-sticky-btn{
        height: auto;
        padding: 13px 30px 10px 30px;
        border-top: 1px solid #e1e1e1;
        background-color: #eeeeee;
        .cont{
          width: 100%;
          text-align: center;
          font-size: 0;
          .product-name,
          .product-price,
          .product-btn{
            display: inline-block;
            margin: 0 15px;
            font-size: 30px;
            vertical-align: middle;
          }
          .product-name{
            margin-bottom: 10px;
            font-size: 20px;
            font-weight: $fw-medium;
            color: #202020;
            &.device-pc{
              display: none;
            }
            &.device-mo{
              display: block;
            }
          }
          .product-price{
            display: none;
            font-size: 0;
            font-family: $sub-font;
            .txt-price{
              font-weight: $fw-bold;
              font-size: 30px;
            }
            .txt-unit{
              font-weight: $fw-regular;
              font-size: 30px;
            }
            .txt-line{
              font-weight: $fw-regular;
              margin: 0 5px;
              font-size: 29px;
            }
            .txt-info{
              font-size: 17px;
            }
          }
          .product-btn{
            display: block;
            margin: 0 auto;
            a.btn{
              max-width: 260px;
              margin: 0 10px;
              margin-bottom: 5px;
              &:last-child{
                margin-bottom: 0;
              }
            }
          }
          .btn{
            width: 100%;
            min-width: 216px;
            height: 60px;
            line-height: 60px;
            margin: 0;
            padding: 0 36px;
            border: 0 none;
            border-radius: 30px;
            font-size: 22px;
            font-weight: $fw-regular;
            border: 1px solid #d25400;
            background-color: #ff7602;
            &.btn-middle{
              border: 1px solid #04b3be;
              background-color: #08d1de;
            }
            &.btn-study{
              border: 1px solid #c9c8c8;
              background-color: #dcdcdc;
              color: #acacac;
            }
          }
        }
        .product-price{
          display: none;
        }
      }
    }
    //------------------------------------------------------------
    // 하단 플로팅 버튼
    .fixed-btn{
      .cs,
      .top{
        position: relative;
        width: 55px;
        height: 55px;
        box-shadow: 0 0 10px #dcdcdc;
        border-radius: 50%;
        background-color: #ffffff;
        opacity: 0.95;
        span{
          display: inline-block;
          overflow: hidden;
          text-indent: -9999em
        }
        img{
          display: none;
        }
      }
      .cs{
        &::before{
          @include top-left(50%, 50%);
          @include bg-img-size(40px, 32px, $imgMobilePath, 'i-bottom-cs@2x');
          margin-top: -16px;
          margin-left: -20px;
          content: ''
        }
      }
      .top{
        background-color: #202020;
        &::before{
          @include top-left(50%, 50%);
          @include bg-img-size(20px, 25px, $imgMobilePath, 'i-bottom-top@2x');
          margin-top: -12px;
          margin-left: -10px;
          content: ''
        }
      }
    }
    &.sub-page{
      .fixed-btn{
        &.on{
          bottom: 150px;
        }
      }
    }
  }
}

@media all and (max-width: 960px){
  .ui-new{
    .device-pc{
      display: none;
    }
    .device-mo{
      display: block;
    }
    //------------------------------------------------------------
    footer{
      address{
        height: auto;
      }
      .container-footer{
        height: auto;
        padding: 24px 30px;
      }
      .policy li{
        font-weight: $fw-regular;
      }
      .address,
      .copyright{
        height: auto;
        line-height: 1.6em;
        font-size: 16px;
        font-weight: $fw-light;
        color: #494949;
      }
      .footer-company{
        display: block;
      }
      .footer-ceo,
      .footer-fax{
        margin-left: 18px;
      }
    }
  }
}
