// @charset utf-8
// ========================================================================
// [variable] | 변수
// ========================================================================
@import part/01-skin
@import part/01-support
@import part/03-txt

//
// * --------------------------------
// * 사용자변수
// * --------------------------------
$classroom-header-height: 80px
$classroom-contents-height: calc(100% - 80px - 35px)
$classroom-footer-height: 35px
// * --------------------------------
// * base-font - 기본 폰트
// * --------------------------------
$base-normal: 400
$base-bold: 700
$base-extrabold: 800

// $base-font: 'Nanum Gothic', "나눔고딕", sans-serif
$base-font: 'Nanum Gothic', sans-serif
$base-weight: $base-normal
$base-size: 15px
$base-color: #000000
$base-line: 1em

$sub-font: 'Nanum Gothic'
$sub-size: 13px

//---------------------------------
// $link-font - 링크 폰트
//---------------------------------
$link-color: #000000
$link-hover-color: #131313

//---------------------------------
// $input-font - 인풋 폰트
//---------------------------------
$input-checkbox-color: #666666
$input-disabled-color: #8c8c8c
$placeholder-color: #ffffff
$placeholder-text-align: center
$select-color: #666666
$tap-highlinet-color: rgba(0,0,0,0.2)

// * --------------------------------
// * background : %background-img
// * --------------------------------
$bg-name: bg-img
$bg-path: img
$bg-position-x: 0
$bg-poxition-y: 0
$bg-size-x: 100%
$bg-size-y: 100%
$bg-color: #666666

// * --------------------------------
// * 이미지 경로
// * --------------------------------
$imgPath: "../../../img"
$imgpopPath: "../../../images/popup"
